@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply min-h-screen max-w-full overflow-x-hidden;
  }

  body {
    -webkit-tap-highlight-color: transparent;
  }

  #root {
    @apply flex flex-col;

    > * {
      @apply w-full;
    }
  }

  a,
  option,
  label,
  *[role="button"],
  button:not([disabled]),
  input:not([disabled]),
  textarea:not([disabled]),
  select:not([disabled]) {
    @apply touch-manipulation;
  }
}
